:root {
  --primary-text-colour: #212121;
  --accent-text-colour: #2196F3;
  --background-colour: #FFFFFF;
  --black-colour: #000;
  --grey-colour: #2F303A;
  --light-grey-colour: #757575;
  --for-one-white: #F5F4FA;
  --smth-grey: #EEEEEE;
  --for-header: #ECECEC;
  --for-media: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: var(--background-colour);
  color: var(--primary-text-colour);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.header-redact {
  border-bottom: 1px solid var(--for-header);
}

.header-redact .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-text-colour);
  margin-right: 93px;
  display: block;
  display: flex;
}

.logo-two {
  color: var(--black-colour);
  display: flex;
}

.current:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-text-colour);
  border: none;
  border-radius: 2px;
}

.header-list {
  margin: 0;
  padding: 0;
  display: block;
  display: flex;
  align-items: center;
}

.header-list-two {
  margin: 0;
  padding: 0;
  display: block;
  display: flex;
  align-items: center;
}

.header-list .item {
  margin-right: 50px;
}

.header-list .item:last-child {
  margin-right: 0;
}

.nav-redact {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-list .phone-contacts {
  margin-right: 0;
}

.header-list:hover,
.header-list:focus,
.footer-list:hover .footer-list:focus {
  color: var(--accent-text-colour);
}

.header-list-two .item {
  margin-right: 50px;
}

.header-list-two:hover,
.header-list-two:focus {
  color: var(--accent-text-colour);
}

.header-buttons {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-colour);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-buttons:hover,
.header-buttons:focus {
  color: var(--accent-text-colour);
}

.phone,
.email {
  color: var(--light-grey-colour);
  font-weight: 500;
  display: flex;
  align-items: center;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-envelope {
  margin-right: 10px;
}

.smartphone {
  margin-right: 10px;
}

.smartphone:hover,
.smartphone:focus {
  fill: var(--accent-text-colour);
}

.phone:focus,
.phone:hover {
  color: var(--accent-text-colour);
}

.email:focus,
.email:hover {
  color: var(--accent-text-colour);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.order {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  cursor: pointer;
  background-color: var(--accent-text-colour);
  color: var(--background-colour);
  border: 1px transparent;
  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order:hover,
.order:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.decidions {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-colour);
  margin-top: 0px;
  margin-bottom: 30px;
}

.hero-container {
  width: 696px;
}

.section-osobennosti {
  padding-top: 94px;
}

.nashi-osobennosti {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.na-os-list {
  display: flex;
  padding-left: 0px;
}

.li-na-os-list {
  margin-right: 30px;
}

.diagram-fon,
.clock-fon,
.antenna-fon,
.astronaut-fon {
  background-color: var(--for-one-white);
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.our-sp {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.p-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--light-grey-colour);
  margin: 0;
}

.section-what-we-do {
  padding-bottom: 94px;
  padding-top: 94px;
}

.what-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.wwd-list {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.wwd-list .photoes {
  margin-right: 30px;
}

.wwd-list .photoes:last-child {
  margin-right: 0px;
}

.what-we-do-div {
  position: relative;
}

.what-we-do-wrap {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-colour);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.section-of-team {
  background-color: var(--for-one-white);
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.ot-list {
  display: flex;
}

.ot-list .team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item:last-child {
  margin-right: 0;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  background-color: var(--background-colour);
}

.name-role {
  padding: 30px;
}

.name-surname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.p-textns {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--light-grey-colour);
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.media-item-list {
  display: flex;
  margin-right: 10px;
  align-items: center;
  padding: 0;
}

.media-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-colour);
  color: var(--for-media);
  fill: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-item-list:last-child {
  margin-right: 0px;
  gap: 10px;
}

.media-item:hover,
.media-item:focus {
  background-color: var(--accent-text-colour);
  color: var(--background-colour);
}

.instagram:hover,
.instagram:focus {
  fill: var(--background-colour);
}

.twitter:hover,
.twitter:focus {
  fill: var(--background-colour);
}

.facebook:hover,
.facebook:focus {
  fill: var(--background-colour);
}

.linkedin:hover,
.linkedin:focus {
  fill: var(--background-colour);
}

.our-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.link-of-clients-list {
  border: 1px solid var(--for-media);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--for-media);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-of-clients-list:hover,
.link-of-clients-list:focus {
  color: var(--accent-text-colour);
  border: 1px solid var(--accent-text-colour);
}

.clients-svg:hover,
.clients-svg:focus {
  fill: currentColor;
}

.li-of-clients {
  border-radius: 4px;
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.li-of-clients:last-child {
  margin-right: 0;
}

.li-of-clients:hover,
.li-of-clients:focus {
  border: 1px solid var(--accent-text-colour);
}

.section-footer {
  background-color: var(--grey-colour);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.where {
  font-size: 14px;
  line-height: 1.7;
  color: var(--background-colour);
  background-color: var(--grey-colour);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.where:hover,
.where:focus {
  color: var(--accent-text-colour);
}

.div-section-footer {
  margin-right: 70px;
}

.address-footer {
  display: flex;
}

.div-footer-join {
  margin-right: 93px;
}

.join-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-colour);
}

.footer-rassilka {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-colour);
}

.media-footer-list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.media-footer-li {
  margin-right: 10px;
}

.media-footer-li:last-child {
  margin-right: 0;
}

.media-item-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-item-footer:hover,
.media-item-footer:focus {
  background-color: var(--accent-text-colour);
}

.instagram-footer,
.twitter-footer,
.facebook-footer,
.linkedin-footer {
  fill: var(--background-colour);
}

.instagram-footer:focus,
.instagram-footer:hover {
  fill: var(--background-colour);
}

.twitter-footer:focus,
.twitter-footer:hover {
  fill: var(--background-colour);
}

.facebook-footer:focus,
.facebook-footer:hover {
  fill: var(--background-colour);
}

.linkedin-footer:focus,
.linkedin-footer:hover {
  fill: var(--background-colour);
}

.online-form {
  display: flex;
}

.online-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 12px;
}

.online-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-text-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--background-colour);
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 28px;
  letter-spacing: 0.06em;
}

.send-icon {
  fill: var(--background-colour);
  margin-left: 10px;
}

.footer-list {
  font-style: normal;
  margin: 0;
  padding: 0;
}

.li-fl:not(:last-child) {
  margin-bottom: 9px;
}

.logo-three {
  color: var(--background-colour);
  margin-bottom: 20px;
}

.section-footer .container {
  display: flex;
  align-items: baseline;
}/*# sourceMappingURL=main.css.map */