.list-member {
    border-radius: 4px;
    margin-right: 30px;
    width: 170px;
    height: 92px;

    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &:focus {
        border: 1px solid var(--accent-text-colour);

    }
}