body {
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}