:root {
    --primary-text-colour: #212121;
    --accent-text-colour: #2196F3;
    --background-colour: #FFFFFF;
    --black-colour: #000;
    --grey-colour: #2F303A;
    --light-grey-colour: #757575;
    --for-one-white: #F5F4FA;
    --smth-grey: #EEEEEE;
    --for-header: #ECECEC;
    --for-media: #AFB1B8;

}