.particular-qualities {
    padding-top: 94px;
}

.our-qualities {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.our-qualities-list {
    display: flex;
    padding-left: 0px;
}

.our-qualities-list-item {
    margin-right: 30px;
}

.diagram-background,
.clock-background,
.antenna-background,
.astronaut-background {
    background-color: var(--for-one-white);
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.our-special-quality {
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.our-qualities-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--light-grey-colour);
    margin: 0;
}